.postItem{
  position: relative;
  width: 620px;
  margin-bottom: 30px;
  cursor: pointer;
}

.postItem .header{
  position: relative;
  color: white;
  font-family: NotoSansCJKkr;
}

.postItem .header .thumbnail{
  width: 100%;
  height: 300px;
  margin-bottom: -4px;
}

.postItem .header .date{
  position: absolute;
  bottom: 51px;
  left: 26px;
  font-size: 16px;
}

.postItem .header .tags{
  position: absolute;
  bottom: 22px;
  left: 26px;
  font-size: 14px;
}

.postItem .content{
  position: relative;
  padding: 24px 24px 15px 24px;
  border: solid 1px #e9e9e9;
  border-top-width: 0px;
}

.postItem .content .header{
  position: relative;
  height: 36px;
}
.postItem .content .header .title{
  position: absolute;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.postItem .content .header .weather{
  position: absolute;
  cursor: pointer;
  right: 0px;
  width: 36px;
  height: 36px;
}

.postItem .content .summary{
  width: calc(100% - 90px);
  font-size: 16px;
  color: #909090;
  margin: 20px 0 25px 0;
}

.postItem .content ul.footer{
  position: relative;
  height: 36px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.postItem .content ul.footer li{
  float: left;
  font-size: 14px;
  color: #777678;
}

.postItem .content ul.footer li:not(:first-child):not(.button):before{
  width: 30px;
  text-align: center;
  margin: 0 5px;
  content: '-';
}

.postItem .content ul.footer li.button{
  float: right;
  cursor: pointer;
  font-size: 13px;
  padding: 4px 9px;
  margin: 0 5px;
  border-radius: 30px;
  border: 1px solid #c6c3be;
}

@media screen and (max-width: 620px) {
  .postItem{
    width: 100%;
  }

  .postItem .header .thumbnail{
    height: 40%;
  }

  .postItem .content .header .title{
    font-size: 15px;
  }
  .postItem .content ul.footer li.button{
    margin: 0 1px;
  }
  .postItem .content .summary{
    font-size: 11px;
  }
}
