body{
  margin: 0;
  padding: 0;
}

/*body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}*/

.contents{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  width: 100%;
}

.search_content{
  width: 720px;
}

.footer{
  height: 102px;
}

.search_content .searchBar{
  width: 100%;
  height: 67px;
  resize: none;
  white-space: nowrap;
  font-family: NotoSansCJKkr;
  font-size: 56px;
  color: #333333;
  border: none;
  outline:none;
  overflow: hidden;
  padding-bottom: 35px;
  border-bottom: solid 1px #909090;
}

.search_content .keywords{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 31px 0 0 0;
}

.search_content .keywords .context{
  width: 90%;
  padding-bottom: 30px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 40px;
}

.search_content .keywords .context .keyword{
  max-height: 28px;
  cursor: pointer;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  color: #909090;
  border: solid 1px #e9e9e9;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px 8px;
  display: inline-block;
}
